.main{
	border: 5px solid cyan;
	padding:2%;
	margin:2%;
	display:flex;
	flex-direction: row;
}
.table1{
	width:90%;
	overflow-x:auto;
}
.left{
	border: 5px solid red;
	padding:2%;
	margin:2%;
	border-radius:10%;
	text-align:center;
	box-shadow:10px 10px 10px black;
	width:30%;
}
.right{
	border: 5px solid green;
	padding:2%;
	margin:2%;
	border-radius:10%;
	text-align:center;
	width:60%;
}
#number{
	color:green;
}
img{
	width:60%;
	height:20%;
	border-radius:50%;
	border:5px solid skyblue;
	box-shadow: 10px 10px 10px black
}
p{
	font-size:20px;
	color:gold;
}
@media only screen and (min-width:320px) and (max-width:480px){
	.main{
	border: 5px solid cyan;
	padding:2%;
	margin:2%;
	display:flex;
	flex-direction: row;
}

.table1{
	width:90%;
	overflow-x:auto;
}
.left{
	border: 5px solid red;
	padding:2%;
	margin:2%;
	border-radius:10%;
	text-align:right;
	box-shadow:10px 10px 10px black;
	width:90%;
	background-color:gray;
}
.right{
	border: 5px solid green;
	padding:2%;
	margin:2%;
	border-radius:10%;
	text-align:right;
	width:90%;
	background-color:gray;
}
#number{
	color:green;
}
img{
	width:60%;
	height:20%;
	border-radius:50%;
	border:5px solid skyblue;
	box-shadow: 10px 10px 10px black
}
p{
	font-size:20px;
	color:gold;
}
}
@media only screen and (min-width:481px) and (max-width:768px){
		.main{
	border: 5px solid cyan;
	padding:2%;
	margin:2%;
	display:flex;
	flex-direction: column;
}

.table1{
	width:90%;
	overflow-x:auto;
}
.left{
	border: 5px solid red;
	padding:2%;
	margin:2%;
	border-radius:10%;
	text-align:center;
	box-shadow:10px 10px 10px black;
	width:50%;
	background-color:pink;
}
.right{
	border: 5px solid green;
	padding:2%;
	margin:2%;
	border-radius:10%;
	text-align:center;
	width:50%;
	background-color:pink;
}
#number{
	color:green;
}
img{
	width:60%;
	height:20%;
	border-radius:50%;
	border:5px solid skyblue;
	box-shadow: 10px 10px 10px black
}
p{
	font-size:20px;
	color:gold;
}
}
@media only screen and (min-width:760px) and (max-width:1024px){
	.main{
	border: 5px solid cyan;
	padding:2%;
	margin:2%;
	display:flex;
	flex-direction: row;
}

.table1{
	width:90%;
	overflow-x:auto;
}
.left{
	border: 5px solid red;
	padding:2%;
	margin:2%;
	border-radius:10%;
	font-size:10px;
	text-align:left;
	box-shadow:10px 10px 10px black;
	width:45%;
	background-color:violet;
	height: 30%;
}
.right{
	border: 5px solid green;
	padding:2%;
	margin:2%;
	border-radius:10%;
	font-size: 10px;
	text-align:left;
	width:40%;
	height: 30%;
	background-color:dodgerblue;
}
#number{
	color:green;
}
img{
	width:30%;
	height:30%;
	border-radius:30%;
	border:5px solid skyblue;
	box-shadow: 10px 10px 10px black
}
p{
	font-size:10px;
	color:gold;
}
}
